body{
    font-family: 'Gilda Display', serif ;
}
/*-----------------------------------------------*/
/*        fullScreen === CONTROL GRID            */
/*-----------------------------------------------*/
#fullScreen {

    position            : absolute          ;
    display             : grid              ;
    grid-template-rows   :  
    [row-0-start] 8vh [row-1-start] 18vh [row-2-start] 18vh [row-3-start] 18vh [row-4-start] 18vh [row-5-start] 8vh [row-5-end];
    grid-template-columns:  
    [col-1-start] 25vw [col-2-start] 25vw [col-3-start] 25vw [col-4-start] 25vw [col-4-end];
    border: 1px solid red;

    height              : 100.5vh             ;
    width               : 100.5vw             ;
    background: linear-gradient(.3turn, rgba(134, 110, 62, 0.5) , rgba(37, 37, 174, 0.5));
    z-index             : -1                ;
    top                 : -0.1rem              ;
    left                : -0.1rem              ;


}

/*-----------------------------------------------*/
/*        .CSS CONTROLS FOR TITLE AREA           */
/*-----------------------------------------------*/
#heading{
    grid-column-start: col-1-start ;
    grid-column-end: col-3-end;
    grid-row-start: row-0-start;
    grid-row-end: row-1-start;
    color: rgb(0, 0, 0);
    align-self: center;
    z-index: 75;
    background:linear-gradient(0.05turn, #81888e,rgb(236, 220, 158), #c1ae99);
    filter:drop-shadow( -.5vh .5vh 1vh black);
    margin: 1.5vh 0 0 0 ;
    border: 0.5rem ridge rgb(255, 215, 0)
}
#headingWords {
    position: relative;
    bottom:-2vh;
    text-align: center;
    right: 10vw;
    z-index: 100;
    
}
#titleOfOther{
    display: none;
    grid-column-start   : col-2-start ;
    grid-column-end     : col-4-start ;
    grid-row-start      : row-0-start ;
    grid-row-end        : row-1-start ;
    border: 0.5vw solid rgb(0, 0, 0);
    z-index: 100;
    position: relative;
    top: 0  ;
    height: 6vh;
    background: linear-gradient(0.1turn, #9a0303,rgb(0, 0, 0), #0a7cb6);
    z-index: 150;

}

/*-----------------------------------------------*/
/*        .CSS CONTROLS FOR PLAY GRID            */
/*-----------------------------------------------*/
#playingGrid {
    grid-column-start: col-1-start;
    grid-column-end: col-3-start;
    grid-row-start: row-1-start;
    grid-row-end: row-4-start;
    z-index: 10;

    display:grid;
    grid-template-rows:     
    [row-1-start] 1fr [row-2-start] 1fr [row-3-start] 1fr [row-3-end];
    grid-template-columns:  
    [col-1-start] 1fr [col-2-start] 1fr [col-3-start] 1fr [col-3-end];
    gap: 1rem 1rem;
    padding: 1rem;
    
    border: 1vh ridge rgb(12, 108, 76); 
    justify-content: center; 
    align-content: center;
    background-color: lightblue;


}
.playingSquare {
    border: .5vh ridge rgb(42, 40, 38) ;
    filter: drop-shadow(0px 0px 0.5px #000000);
    background-color: #81888e;
    border-radius: 25%;
    justify-content: center;
    align-content: center; 
    z-index: 20;


} 
#XAndOImages{
    display: none;

} 
.placedCharacters{
    display: inline;
    height: 60%;
    width: 60%;
    position: relative;
    left: 3vw;

    top: 2.75vw;

}

/*-----------------------------------------------*/
/*        .CSS CONTROLS FOR GAME RULES           */
/*-----------------------------------------------*/
#gameRules {
    
    grid-row-start  : row-4-start   ;
    grid-row-end    : row-5-end     ;
    height: 36vh;


    border: 0.5rem ridge rgb(255, 215, 0);
    background: linear-gradient(0.05turn, #81888e,rgb(236, 220, 158), #c1ae99);
    filter:drop-shadow( -0.5vh -.5vh 1vh black);

    z-index: 50;
    text-align: center;
    position: absolute;
    overflow: auto;
    top: 0;
    


}
#gameRulesHeading{
    height: 1.5vh;
    margin: 0.125vh;
    display: inline-block;
    position: relative;
    right: 4vh;
}
#rulesButton{
    position:absolute;
    height: 3vh;
    margin: 0.25vh;
    left: 0px;
}
.gameOption{
    display: inline-block;
    position: relative;
    margin: 8vh 20vw 0 20vw;
}
#rulesText {
    position: relative;
    left: 0vw;
    text-align: center;
}

/*-----------------------------------------------*/
/*         .CSS CONTROLS FOR GAME LOG            */
/*-----------------------------------------------*/
#gameLog {


    position: absolute;
    
    height: 100vh;
    width: 60vw;
    right: -3vw;
    top: 0;

    display: grid;




    z-index: 40 ;
    background:linear-gradient(0.05turn, #81888e,rgb(236, 220, 158), #c1ae99);
    filter:drop-shadow( -0.5vh 0vh 1vh black);

}
#gameLogConcealer{
    height: 105vh;
    width: 55vw;

    top: -10vh;
    left: 3vw;
    display: inline;
    position: absolute;
    z-index: 250;

    background:linear-gradient(0.05turn, #81888e,rgb(236, 220, 158), #c1ae99) ;
}
#gameLogEdge{
    display: block;
    position: absolute;
    height: 105vh;
    width: 1.5vw;
    top: -5vh;
    background-color: rgb(255, 196, 0);
    border: 0.5rem ridge rgb(255, 215, 0);
    z-index: 50;
}
#logTitle{
    position: relative;
    text-align: left;
    top: -1.5vh;
    left:4vw;
    height: 2vh;
    z-index: 900;


}

/*-----------------------------------------------*/
/* #characterSelection{
    display: none;
} */
/* .characterOptions {
    display: none;

} */
/*---------- ^^^ FUTURE ADDITION ^^^ ------------*/
#logArea{

    display:grid;
    gap: 0.1vh;
    position:relative;
    top:-2vh

}

.pOneLog{
    display: inline-flex;
    position: relative;
    float: right;
    width: 50vw;

}
.pTwoLog{
    display: inline-flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: left;
    width: 50vw;
    z-index: 50;
}

.pOneText{
    flex:2;
    border:.5vw ridge lightslategray;
    border-radius: 5%;
    text-align: right;
    z-index: 39;
    color: white;
    position: relative;
    right: 1.5vw;
    background: linear-gradient(0.2turn, #ffffff,rgb(0, 0, 0), #81888e) ;

}
.pTwoText{
    flex:2;
    border:.5vw ridge lightslategray; 
    text-align: left;
    position: relative;
    left: 3vw;
    z-index: 40;
    color: white;
    background: linear-gradient(0.18turn, #81888e,rgb(0, 0, 0), #ffffff) ;
}
.pOneLogAvatar{
    flex: 0.5;
    position: relative;
    left: 3vw;
    height: 10vh ;
    width: 10vw ;
    z-index: 40 ;
    border-radius: 20%;
    

}
.pTwoLogAvatar{
    flex: 0.5;
    display: flex;
    position: relative;
    right: 1.5vw;
    height: 10vh ;
    width: 10vw ;
    z-index: 41 ;
    border-radius: 20%;

}

#turnOne{
    z-index: 249 
}
#turnTwo{
    z-index: 249 
}
#turnThree{
    z-index: 249 
}
#turnFour{
    z-index: 249 
}
#turnFive{
    z-index: 249 
}
#turnSix{
    z-index: 249 
}
#turnSeven{
    z-index: 249 
}
#turnEight{
    z-index: 249 
}
#turnNine{
    z-index: 249 
}

/*-----------------------------------------------*/
/*         .CSS CONTROLS FOR P.SCORES            */
/*-----------------------------------------------*/
#playerScores {

    display: grid;
    position:absolute;
    grid-template-rows   : 
    [psr-1-start] 1fr [psr-2-start] 1fr [psr-3-starts] 1fr [psr-3-ends];
    grid-template-columns: 
    [psc-1-start] 1fr [psc-2-start] 1fr [psc-2-end];

    top: 1.7vh;
    grid-row-start: row-4-start;
    z-index: 30 ;
    height: 37vh;
    width: 50vw ;

    border: 1vh ridge rgb(12, 108, 76); 
    background-color: lightblue;

}
.playerTitles{
    padding: 2vh 0 0 0 ;
    text-align: center;
    font-weight: bold;
    height: 3vh;
    z-index: 50;
    color: white;
    filter: drop-shadow(1px 1px 0.5px #000000);

}
.playerAvatars{
    height: 15vh;
    width:  15vw;
    border: 5px ridge rgb(47, 46, 42);
    border-radius: 25% ;
    display: inline-block;
    position: relative;
    align-self: center;
    justify-self: center;
    gap: 2vw;
    bottom: 4vh;
    filter: drop-shadow(0px 0px 3px #000000);
}
#pOneScoreAvatar{
    height: 15vh;
    width: 15vw;
    border-radius: 20%;
}
#pTwoScoreAvatar{
    height: 15vh;
    width: 15vw;
    border-radius: 20%;
}
.scoreTally{
    display: inline-block;
    text-align: center;
    position: relative;
    border: 2vh ridge rgb(42, 40, 38) ;
    filter: drop-shadow(0px 0px 0.5px #000000);
    background-color: #81888e;
    border-radius: 10%;
    bottom: 3vh;
    justify-self: center;
    align-self: center;
    width: 20vw ;
    height: 10vh;
}
#pOne{
    display:inline-block;
    position: relative;
    font-size: 5.5vh;
    bottom: 2.5vh;
}
#pTwo{
    display:inline-block;
    position: relative;
    font-size: 5.5vh;
    bottom: 2.5vh;
    
}

/*-----------------------------------------------*/
/*       .CSS CONTROLS FOR CONGRATS MES.         */
/*-----------------------------------------------*/
#congratsContainer{
    display: none;
    position: relative;

    grid-column-start   : col-2-start   ;
    grid-column-end     : col-4-start   ;
    grid-row-start      : row-2-start   ;
    grid-row-end        : row-4-start   ;

    z-index             : 1500          ;

    border: 5px solid red ;
    background-color: #9a0303;
}
.congratsMessage{
    display: grid;
    position: relative;
    z-index: 1499;
    bottom: 10vh;
    right: 2vh;

    grid-column-start   : col-3-start   ;
    grid-column-end     : col-4-start   ;
    grid-row-start      : row-2-start   ;
    grid-row-end        : row-4-start   ;
}

#billWinImg{
    display: none;
    position: relative;
    height: 30vh;
    width: auto;
    bottom: 2.5vh;
    left: 2.5vw;

}
#billWinMes{
    display: none;
    position: absolute;
    text-align: right;
    font-size: 15pt;
    color: white;
    top:25vh;
    filter: drop-shadow(-2px -2px 0.5px #000000);

    
}
#cageWinImg{
    display: none;
    position: absolute;
    height: 30vh;
    width: auto;
    bottom: 2.5vh;
    left: 2.5vw;
    align-self: start ;
}
#cageWinMes{
    display: none;
    position: absolute;
    text-align: right;
    font-size: 15pt;
    color: white;
    top:25vh;
    filter: drop-shadow(-2px -2px 0.5px #000000);

}

#drawBillImgBox{
    display: none;
    grid-column-start: col-2-start;
    grid-column-end: col-3-start;
    grid-row-start: row-2-start;
    grid-row-end: row-4-start;
    
}
#drawCageImgBox{
    display: none;
    grid-column-start: col-3-start;
    grid-column-end: col-4-start;
    grid-row-start: row-2-start;
    grid-row-end: row-4-start;
}
#billDrawImg{
    display: inline-block;
    position: relative;
    right:-5vw;
    height: 30.5vh;
    width: 38vw;
    z-index: 1248;
    /* object-fit: cover; */
}
#cageDrawImg{
    display: inline-block;
    position: relative;
    left:-4vw;
    height: 30.5vh;
    width: 27vw ;
    z-index: 1249;
    /* object-fit:cover; */
}

#drawMes{
    display: none;
    text-align: center;
    position: relative;
    left: -3vw;
    margin: 0;
    padding: 0.5vh 0 0 0;
    color: white;
}

/*-----------------------------------------------*/
/*          GRID GUIDELINE RULES BELOW           */
/*---------------------------------------------- */
/*      TO TURN ON/OFF GRID, CHANGE BORDERS      */
/*  FROM [1PX - 0PX] OR [0PX - 1PX] AS REQUIRED  */
.fullGuideRow {
    border: 0px solid orange /* change px value */
}
.fullGuideCol {
    border: 0px dashed green /* change px value */
}
/*-----------------------------------------------*/
/*          DO NOT CHANGE FROM HERE ON           */
/*-----------------------------------------------*/
#row0 {
    grid-row-start: row-0-start;
    grid-row-end: row-1-start;
    grid-column-start: col-1-start;
    grid-column-end: col-4-end;  
}
#row1 {
    grid-row-start: row-1-start; 
    grid-row-end:  row-2-start;
    grid-column-start:col-1-start;
    grid-column-end: col-4-end;;
}
#row2 {
    grid-row-start: row-2-start; 
    grid-row-end: row-3-start;
    grid-column-start:col-1-start;
    grid-column-end: col-4-end;;
}
#row3 {
    grid-row-start: row-3-start; 
    grid-row-end: row-4-start;
    grid-column-start:col-1-start;
    grid-column-end: col-4-end;;
}
#row4 {
    grid-row-start: row-4-start; 
    grid-row-end: row-5-start;
    grid-column-start:col-1-start;
    grid-column-end: col-4-end;;
}
#row5 {
    grid-row-start: row-5-start; 
    grid-row-end: row-5-end;
    grid-column-start:col-1-start;
    grid-column-end: col-4-end;
}
#col1{
    grid-row-start: row-0-start; 
    grid-row-end: row-5-end;
    grid-column-start: col-1-start;
    grid-column-end: col-2-start;
}
#col2{
    grid-row-start: row-0-start; 
    grid-row-end: row-5-end;
    grid-column-start: col-2-start;
    grid-column-end: col-3-start;
}
#col3{
    grid-row-start: row-0-start; 
    grid-row-end: row-5-end;
    grid-column-start: col-3-start;
    grid-column-end: col-4-start;
}
#col4{
    grid-row-start: row-0-start; 
    grid-row-end: row-5-end;
    grid-column-start:col-4-start;
    grid-column-end: col-4-end;
}
/*-----------------------------------------------*/
/*       DO NOT CHANGE ABOVE TIL 112/115         */
/*-----------------------------------------------*/